
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
*
{
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
    color: var(--white);
}
:root
{
    --black: #2f2f2f;
    --white: #fff;
    --red: #f83038;
    --periwinkle: rgba(128, 128, 255, 1);
}
body{
    background-color: #061444;
}
nav
{
    background-color:transparent;
    text-align: center;
}
button
{
    background-color: transparent;
    border-color: transparent;
    color: rgba(255, 255, 255, 0.95);
    transition-duration: 0.30s;
    border-radius: 50px;
    
}
button:hover
{
    background-color: transparent;
    color: var(--periwinkle);
}
.Name
{
    text-align: left;
    display: flex;
}
.AMwrapper
{
    display: grid;
    grid-template-columns: auto;
}
