@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*
{
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;

}
:root
{
    --black: #2f2f2f;
    --white: #fff;
    --red: #f83038
}
body{
    background-color: #061444;
}
nav
{
    background-color:transparent;
    border-radius: 100px;
    text-align: center;
}
button
{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.95);
    transition-duration: 0.30s;
    border-radius: 50px;
    border-color: transparent;
}
button:hover
{
    background-color: transparent;
    color: rgba(128, 128, 255, 1)
}
