---
import Layout from '../layouts/Layout.astro';
import ExpandingCard from '../components/ExpandingCard.astro'
import Nav from '../components/Nav.astro';
import PanelLayout from '../layouts/PanelLayout.astro';
import Accordion from '../components/Accordion.svelte';
import HorizontalBar from '../components/HorizontalBar.astro';
---



<Layout title="Jorel Huerto">
	<main>
		<Nav></Nav>
		<div class="background">
			<div class="about-me-wrapper bg-black/[0.2]">
				<Accordion styleAccordion="relative left-1/2" styleSlide="w-1/4 h-12 hover:w-6/12 focus:w-8/12 -translate-x-1/2" styleDetails="width: 75%; transform: translate(-50%,0%);" client:visible>
					<div slot="head">About Me</div>
					<div slot="details">
						<p class="text-slate-200">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
				</Accordion>
			</div>
			
			<PanelLayout>
				<ExpandingCard
					href=""
					title="Project 1"
					body="Learn how Astro works and explore the official API docs."
					slot="panel-one"
				/>
				<ExpandingCard
					href=""
					title="Project 2"
					body="Supercharge your project with new frameworks and libraries."
					slot="panel-two"
				/>
				<ExpandingCard
					href=""
					title="Project 3"
					body="Explore a galaxy of community-built starter themes."
					slot="panel-three"
				/>
				<ExpandingCard
					href=""
					title="Project 4"
					body="Come say hi to our amazing Discord community. ❤️"
					slot="panel-four"
				/>
			</PanelLayout>
			
			<div class = "bar-chart-grid grid justify-center bg-black/[0.2]">
				<HorizontalBar barWidth='90%' barBgStyle='' barLabel='100' title="C++" titleStyle='text-white'/>
				<HorizontalBar barWidth='45%' barBgStyle='' barLabel='50' title="C#" titleStyle='text-white'/>
			</div>
		</div>
		
		  

		<script>
			VANTA.NET({
				el: ".background",
				mouseControls: false,
				touchControls: false,
				gyroControls: false,
				minHeight: 200.00,
				minWidth: 200.00,
				height: 200,
				scale: .75,
				scaleMobile: 1.00
			})
		</script>
	</main>
</Layout>

<style>
	.about-me-wrapper{
		overflow: hidden;
		padding-top: 50px;
		z-index: 2;
	}
	.background{
		overflow: visible;
		margin-top: 10px;
		width: 100%;
		height: 1080px;
		z-index: 0;
	}
	main {
		margin: auto;
		padding: 0rem
	}
	Nav{
		z-index: 1;
	}
	
</style>
