

<div class="panel-container">
    <slot name="panel-one"/>
    <slot name="panel-two"/>
    <slot name="panel-three"/>
    <slot name="panel-four"/>
</div>

<style>
    .panel-container{
        padding-top: 75px;
        display: flex;
        width: 100%;
    }
</style>

