---
export interface Props{
    title:string;
    titleStyle:string;
    barWidth:string;
    sectionWidth:string;
    barBgStyle:string;
}

const {sectionWidth = "100px", barWidth = "10%", barBgStyle = "bg-black", title, titleStyle} = Astro.props;
let calculatedWidth =  (parseInt(sectionWidth)-50)*(parseInt(barWidth)/100);
let realWidth = calculatedWidth.toString() + "px"
---
<section class="bar-graph bar-graph-horizontal bar-graph-one">
    
    <div class:list={["bar-one", barBgStyle]}>
        <div class:list={["title", titleStyle]}>{title}</div>
        <div class="bar" data-percentage={barWidth}></div>
    </div>
    
</section>

<style define:vars={ {realWidth, sectionWidth} }>
    

/* Bar Graph Horizontal */

.bar-graph .title {
  animation: fade-in-text 2.2s 0.1s forwards;
  opacity: 0;
}

.bar-graph {
  width: var(--sectionWidth);
  max-width: 100vw;
}

.title {
  margin-top: 18px;
  width: 50px;
}

.bar {
  border-radius: 3px;
  height: 55px;
  
  overflow: hidden;
  position: relative;
  width: 0;
}

.bar-graph .bar::after {
  animation: fade-in-text 2.2s 0.1s forwards;
  color: #fff;
  content: attr(data-percentage);
  position: absolute;
  right: 16px;
  top: 17px;
}

.bar-graph .bar {
  background-color: #64b2d1;
  animation: show-bar-one 1.2s 0.1s forwards;
}


/* Bar Graph Horizontal Animations */
@keyframes show-bar-one {
  0% {
    width: 0;
  }
  100% {
    width: var(--realWidth);
  }
}

@keyframes fade-in-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>