---
import DropdownButton from './DropdownButton.svelte';
import Accordion from './Accordion.svelte';
let GitHubLink = "https://github.com/Jorel29";
let LinkedInLink = "https://www.linkedin.com/in/jorelhuerto/";
---

<div class="nav-bar grid justify-center bg-black/[0.5] rounded-2xl">
    <div class="nav-title grid justify-center h-14">Jorel Huerto</div>
    
    <div class="flex items-center justify-center">
        <nav class = "bg-white/[0.4]">
            <ol>
                <li class="nav-list"><a href="#">Home</a></li>
                <li class="nav-list"><a href="#">Contact</a></li>
                <li class="nav-list">Project Name</li>
              </ol>
        </nav>
    </div>
    
</div>
<style>
    .nav-title{
        font-family: "FiraMono", monospace;
        color: rgb(198, 102, 68);
        font-size: 3rem;
        font-weight: 700;
        margin: 0%;
    }
    .nav-bar{
        margin: 0;
        width: 100%;
        height: 15%;
        /*grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));*/
        /*align-items: center;*/
       
        background-color: transparent;
       
        padding-top: 0rem;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 0rem;
        border-radius: 0.25rem;
        position: fixed;
        z-index: 1;
    }
    .div-nav-bar{
        display:flex;
        max-width: 100%;
        padding-top: 0px;
    }
    .external-link{
        justify-content: baseline;
    }
    .linked-in-icon{
        min-width: 64px;
        width: auto;
        height:55px;
    }
    .linked-in-icon:hover{
        width: auto;
        height:55px;
        background-color: gray;
        border-radius: 5px;
    }
    .github-icon{
        min-width: 54px;
        width: auto;
        height: 55px;
    }
    .github-icon:hover{
        width: auto;
        height: 55px;
        background-color: gray;
        border-radius: 50%;
    }

    .nav-list ol {
        list-style-type: none;
        padding-left: 0;
    }

    .nav-list {
        display: inline-block;
        
    }

    .nav-list a::after {
        display: inline-block;
        color: #000;
        content: '>';
        font-size: 80%;
        font-weight: bold;
        padding: 0 3px;
    }
</style>