---
import DropdownButton from './DropdownButton.svelte'
let GitHubLink = "https://github.com/Jorel29";
let LinkedInLink = "https://www.linkedin.com/in/jorelhuerto/";
---

<div class="nav-bar">
    <div class="div-nav-bar">
        <DropdownButton/>
        <a class="external-link" href={LinkedInLink}>
            <img class="linked-in-icon" src="/LI-In-Bug.png"/>        
        </a>
        <a class="external-link" href={GitHubLink}>
            <img class="github-icon" src="/github-mark-white.png"/>        
        </a>
    </div>
</div>
<style>
    .nav-bar{
        margin: 0;
        width: 100%;
        height: 10%;
        display: block;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        align-items: center;
        vertical-align: middle;
        background-color: darkslategrey;
        padding-top: 0rem;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 0rem;
        border-radius: 0.25rem;
        position: fixed;
        z-index: 1;
    }
    .div-nav-bar{
        display: flex;
        max-width: 100%;
        padding-top: 10px;
    }
    .linked-in-icon{
        width: 6%;
        height:auto;
    }
    .github-icon{
        width: 10%;
        height: auto;
    }
</style>